.preface[ns="http://www.akomantoso.org/2.0"] {
    display: block;
}

.preface[ns="http://www.akomantoso.org/2.0"] .docTitle[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    text-align: center;
}

.coverPage[ns="http://www.akomantoso.org/2.0"] {

}

.coverPage[ns="http://www.akomantoso.org/2.0"] .p[ns="http://www.akomantoso.org/2.0"] {
    display: block;
}

.docTitle[ns="http://www.akomantoso.org/2.0"] {
    font-weight: bold;
    line-height: 2.5em;
}

.docStage[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    font-size: 1.4em;
}

.docType[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    font-size: 1.4em;
}

.docPurpose[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    font-size: 1.2em;
}

.body[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 20px;
}

.conclusions[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 20px;
}

.chapter[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    width: 98%;
}

.chapter[ns="http://www.akomantoso.org/2.0"] > .num[ns="http://www.akomantoso.org/2.0"] {
    font-size: 1.0em;
    display: block;
    text-align: center;
}

.chapter[ns="http://www.akomantoso.org/2.0"] > .heading[ns="http://www.akomantoso.org/2.0"] {
    font-size: 1.5em;
    display: block;
    text-align: center;
}

.article[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    width: 98%;
}

.article[ns="http://www.akomantoso.org/2.0"] *[ns="http://www.akomantoso.org/2.0"] {
    text-align: left;
}

.article[ns="http://www.akomantoso.org/2.0"] > .num[ns="http://www.akomantoso.org/2.0"] {
    font-size: 1.0em;
    text-align: center;
    display: block;
}

.article[ns="http://www.akomantoso.org/2.0"] >  .heading[ns="http://www.akomantoso.org/2.0"] {
    font-size: 1.3em;
    text-align: center;
    display: block;
    width: 100%;
}

.list[ns="http://www.akomantoso.org/2.0"] > .intro[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.list[ns="http://www.akomantoso.org/2.0"] > .point[ns="http://www.akomantoso.org/2.0"] {
    margin-left: 2em;
}

.docNumber[ns="http://www.akomantoso.org/2.0"] {
    font-weight: bold;
}

.docDate[ns="http://www.akomantoso.org/2.0"] {
    font-weight: bold;
}

.item[ns="http://www.akomantoso.org/2.0"] {
    display: block;
}

.num[ns="http://www.akomantoso.org/2.0"] + span[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

/*
 This is used to position the following construct:
 - num (1.)
 - subparagraph 1
 - subparagraph 2
 - subparagraph 3

 (meaning, no content is to be found near the num, only siblings). We therefore move the underlying
 siblings to the right (implied by the CSS for subparagraphs) and pull it up to the level of the num.

 Note that this is a gross simplification - better solutions should be out there.
*/
.num[ns="http://www.akomantoso.org/2.0"] ~ .subparagraph[ns="http://www.akomantoso.org/2.0"] {
    display: inline-block;
    position: relative;
    top: -2.7em;
    margin-top: 0;
}

.num[ns="http://www.akomantoso.org/2.0"]:after {
    content: " ";
}

.authorialNote[ns="http://www.akomantoso.org/2.0"] {
    color: blue;
    font-size: 70%;
    vertical-align: text-top;
}

.authorialNote[ns="http://www.akomantoso.org/2.0"][marker]:before {
    content: " " attr(marker);
}

.authorialNote[ns="http://www.akomantoso.org/2.0"] > .p[ns="http://www.akomantoso.org/2.0"]:not(:empty):before {
    content: " [";
}

.authorialNote[ns="http://www.akomantoso.org/2.0"] > .p[ns="http://www.akomantoso.org/2.0"]:not(:empty):after {
    content: "]";
}

.preamble[ns="http://www.akomantoso.org/2.0"] > .p[ns="http://www.akomantoso.org/2.0"]:after {
    content: "\A";
    white-space: pre;
    margin-top: 1.5em;
}

.content[ns="http://www.akomantoso.org/2.0"] > .p[ns="http://www.akomantoso.org/2.0"]:after {
    content: "\A";
    white-space: pre;
    margin-top: 1.5em;
}

.eol[ns="http://www.akomantoso.org/2.0"]:after {
    content: "\A";
    white-space: pre;
    margin-top: 1.5em;
}

.eop[ns="http://www.akomantoso.org/2.0"]:after {
    content: "\A\A\A";
    white-space: pre;
    page-break-after: always;
    margin-top: 1.5em;
}

.br[ns="http://www.akomantoso.org/2.0"]:after {
    content: "\A";
    white-space: pre;
}

.notes[ns="http://www.akomantoso.org/2.0"]:before {
    content: "Notes";
    border: 1px solid #000000;
    background-color: blue;
    display: block;
    text-align: center;
    font-family: Sans-Serif;
    font-size: 10pt;
    left: 90%;
    color: #fff;
    width: 90px;
    border-radius: 3px;
    margin: 0px;
    padding: 1px;
    position: relative;
}

.date[ns="http://www.akomantoso.org/2.0"] {
    color: #86590a;
}

.placeholder[ns="http://www.akomantoso.org/2.0"] {
    color: #333;
    background-color: #888;
}

.notes[ns="http://www.akomantoso.org/2.0"] {
    color: blue;
    margin-left: 2em;
}

/* Listings */
.ul[ns="http://www.akomantoso.org/2.0"] {
    margin: 1.5em;
}

.ol[ns="http://www.akomantoso.org/2.0"] {
    margin: 1.5em;
}

.li[ns="http://www.akomantoso.org/2.0"] {

}

.table[ns="http://www.akomantoso.org/2.0"] {
    min-width: 90%;
}

[ns="http://www.akomantoso.org/2.0"][href] {
    text-decoration: underline;
    color: blue;
    font-style: italic;
}

.validation-error[ns="http://www.akomantoso.org/2.0"]:before {
    position: relative;
    top: -23px;
    content: attr(error);
    font-size: .75em;
    padding: .15em .45em;
    border-radius: 1em;
    background: inherit;
    background-size: 102% 90em;
}

.validation-error[ns="http://www.akomantoso.org/2.0"] {
    background-color: red;
}

.placeholder[ns="http://www.akomantoso.org/2.0"] {
    background-color: #fffacd;
}

.nsesa-inline[ns="http://www.akomantoso.org/2.0"] {
    background-color: #fffacd;
}

.mainBody[ns="http://www.akomantoso.org/2.0"] > .p[ns="http://www.akomantoso.org/2.0"] {
    display: block;
}

.block[ns="http://www.akomantoso.org/2.0"][name="qstart"] {
    display: none;
}

.block[ns="http://www.akomantoso.org/2.0"][name="qend"] {
    display: none;
}